body {
    margin-top: 60px;
background: rgb(246, 244, 253);
}

.container {
    background:  #ffffff;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    font-family: sans-serif;

    
}

select {
 
    width: 90%;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
}

button {
       border-radius: 4px;
    padding: 10px;
    font-size: 18px;
    font-family: sans-serif;
}
.city-select {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;

    font-size: 38px;
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px dashed rgba 0, 0, 0, 0.2;
    padding: 20px 0;

}

.city:last-child {
    border-bottom: none;
}

.date {
    opacity: 0.5;
}

.time {
    font-size: 48px;
    font-weight: bold;

}

.time small {
    font-size: 28px;
    line-height: 48px;
    vertical-align: middle;
}

h2 {

    font-size: 28px;
    margin: 0 0 10px;
}
 footer {
    text-align: center;
    padding: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-family: sans-serif;
 }

