body {
    margin-top: 60px;
background: rgb(246, 244, 253);
}

.container {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/112/815/original/GLOBE2.jpg?1706554662");
    background-size: cover;
   
    max-width: 600px;
   
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
  
    

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  font-family: 'Montserrat', sans-serif;

    
}

select {
 
    width: 90%;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
      font-family: 'Montserrat', sans-serif;
}

button {
       border-radius: 4px;
    padding: 10px;
    font-size: 18px;

    background: #ffffff;
      font-family: 'Montserrat', sans-serif;
}
.city-select {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px grey opacity 0.6;

    font-size: 52px;
    font-weight: 300;
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px dashed rgba 0, 0, 0, 0.2;
    padding: 10px 0;
    font-weight: 400;
    
    color: #ffffff;

}

.city:last-child {
    border-bottom: none;
}

.date {

    font-weight: 300;
    font-size: 24px;

}

.time {
    font-size: 48px;
    font-weight: 500;


}

.time small {
    font-size: 28px;
    line-height: 48px;
    vertical-align: middle;
}

h2 {

    font-size: 28px;
    margin: 0 0 10px;
}
 footer {
    text-align: center;
    padding: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-family: sans-serif;
 }

